.btn {
  background-color: transparent;
  border: none;
  color: var(--white);
  cursor: pointer;
  transition: scale 200ms ease-in-out;
  will-change: transform;
  width: fit-content;
  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
  &:not(:disabled):hover {
    cursor: pointer;
    scale: 1.05;
  }
}

.btn-primary {
  align-items: center;
  background-color: var(--primary-dark);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  padding: 12px 24px;
  gap: 15px;
}
