@import url("/assets/styles/design/buttons.css");
@import url("/assets/styles/design/colors.css");
@import url("/assets/styles/design/fonts.css");
@import url("/assets/styles/design/tooltip.css");
@import url("/assets/styles/design/notifications.css");

* {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  scrollbar-width: 8px;
  scrollbar-color: var(--primary) transparent;
}

body {
  font-family: var(--font-poppins);
  background-color: var(--neutral-950);
  color: var(--neutral-50);
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  height: 100dvh;
  min-height: 100dvh;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: var(--neutral-50);
  text-decoration: none;
}
