/* Presentation */
.section-presentation {
  display: flex;
  position: relative;
  width: 100%;
}

.section-presentation > video {
  width: 100%;
}

.article-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-inline: 190px;
}

/* Presentation Info */
.article-presentation-info {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(6px);
  border-radius: 4px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
}

.article-presentation-info > h1 {
  color: #fff;
  font-family: var(--font-saatliches);
  font-weight: 400;
  font-size: 54px;
}

.article-presentation-info > p {
  color: #adb3b2;
  font-weight: 500;
  font-size: 24px;
}

.article-presentation-info > p > strong {
  color: #fff;
  font-weight: 900;
}

/* Presentation Date */
.article-presentation-date-container {
  margin-top: 15px;
  align-items: center;
  display: flex;
  gap: 25px;
}

.article-presentation-date-item {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 65px;
}

.article-presentation-date-item > p {
  font-size: 34px;
  font-weight: 800;
}

.article-presentation-date-item > span {
  color: #adb3b2;
  font-weight: 400;
}

.article-presentation-date-container > .line-separator {
  background-color: #adb3b28c;
  height: 50%;
  width: 2px;
}
