/* Header */
.header-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* Navbar*/
.nav-container {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 25px;
  background-color: var(--neutral-950-80);
  backdrop-filter: blur(4px);
  outline: 1px solid var(--neutral-50);
  border-radius: 6px;
  padding: 8px 16px;
  user-select: none;
}

.nav-container > a {
  font-size: 18px;
  font-weight: 400;
  transition: text-shadow 300ms ease-in-out;
  &:hover {
    text-shadow: 1px 1px 2px var(--neutral-100), 0 0 25px var(--neutral-100),
      0 0 5px var(--neutral-100);
  }
}

.nav-container > a.selected {
  text-shadow: 1px 1px 2px var(--neutral-100), 0 0 25px var(--neutral-100),
    0 0 5px var(--neutral-100);
}

.nav-container > img {
  width: 60px;
  height: 34px;
}

.nav-container > span {
  font-size: 24px;
}
