.header-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-container {
  align-items: center;
  display: flex;
  gap: 25px;
  padding: 6px 24px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  border-radius: 6px;
  outline: 2px solid var(--gray-light);
  margin-top: 25px;
  margin-inline: auto;
  @media (width < 620px) {
    display: none;
  }
}

.nav-container > .line-separator {
  background-color: var(--white);
  border-radius: 50%;
  height: 8px;
  width: 8px;
}

.nav-container > a {
  text-decoration: none;
  transition: text-shadow 200ms ease-in-out;
  &:hover {
    text-shadow: 0 0 15px var(--white);
  }
}

.nav-container > a.active,
.nav-response-items-container > a.active {
  text-shadow: 0 0 15px var(--white);
  cursor: default;
}

.btn-menu {
  display: none;
  margin-top: 5%;
  margin-left: 5%;
  z-index: 10;
  @media (width < 620px) {
    align-items: center;
    display: flex;
    justify-content: center;
    background: var(--black);
    padding: 8px 5px;
    border-radius: 8px;
  }
}

.nav-responsive {
  background-color: var(--primary-ultra-dark);
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  transition: transform 300ms ease-in-out;
  transform: translateX(-100%);
  height: 100dvh;
  width: 100dvw;
  z-index: 5;
}

.nav-responsive > .logo-item {
  margin-top: 25px;
}

.nav-responsive-active {
  transform: translateX(0);
}

.nav-response-items-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 25px;
}

.nav-response-items-container > .line-separator {
  background-color: var(--white);
  height: 2px;
  width: 80%;
}

.nav-response-items-container > a {
  text-decoration: none;
}
