.main-container {
  display: flex;
  flex-direction: column;
  padding: 20px 190px;
  gap: 35px;
  @media (width < 1280px) {
    padding: 20px;
  }
}

/* SECTION DETAIL */
.section-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.video-detail {
  aspect-ratio: 600 / 338;
  width: 600px;
  max-width: 100%;
}

.article-detail {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.article-detail > blockquote {
  margin: 0;
}

/* SECTION MEMBERS */
.section-members {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.list-members-container {
  overflow-x: auto;
  overflow-y: hidden;
}

.list-members {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
  min-width: max-content;
}

.list-members > .list-item {
  position: relative;
  border-radius: 8px;
  user-select: none;
  height: 450px;
}

.list-members > .list-item > img {
  border-radius: 8px;
  background-size: cover;
  object-fit: cover;
}

.list-members > .list-item:nth-child(1) > img {
  object-position: 80%;
}

.list-members > .list-item:nth-child(2) > img {
  object-position: 45%;
}

.list-members > .list-item:nth-child(3) > img {
  object-position: center;
}

.list-members > .list-item:nth-child(4) > img {
  object-position: 70%;
}

.list-members > .list-item:nth-child(5) > img {
  object-position: 77%;
}

.list-members > .list-item:nth-child(6) > img {
  object-position: center;
}

@media screen and (width > 1320px) {
  .list-members > .list-item {
    width: 150px;
    transition: width 200ms ease-in-out;
    &:hover {
      width: 250px;
    }
    &:hover > .list-item-content {
      opacity: 1;
    }
  }

  .list-members > .list-item > .list-item-content {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    display: flex;
    opacity: 0;
    flex-direction: column;
    gap: 15px;
    padding: 4px 8px;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 400ms ease-in-out;
  }
}

@media screen and (width <= 1320px) {
  .list-members > .list-item {
    width: 250px;
  }

  .list-members > .list-item > .list-item-content {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 4px 8px;
    position: absolute;
    height: 40%;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

/* SECTION ALBUM */
.section-album-container {
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
  @media (width < 940px) {
    justify-content: center;
  }
}

.table-album {
  border-collapse: collapse;
  width: fit-content;
}

.btn-audio {
  display: none;
}

.album-head {
  & > th {
    padding: 6px;
  }
}

.album-row {
  & > td {
    padding: 6px;
  }
}

.album-row:hover {
  background-color: var(--gray-dark);
  & > .album-item-action > span {
    display: none;
  }
  & > .album-item-action > .btn-audio {
    display: flex;
  }
}

.album-vinyl-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 380px;
}

.vinyl-decoration {
  position: relative;
}

.vinyl-decoration > img {
  position: relative;
  @media (width < 500px) {
    width: 200px;
    height: 200px;
  }
}

.vinyl-decoration > .vinyl-disk-container {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 400ms ease-in-out;
}

.vinyl-decoration > .vinyl-disk-container-active {
  transform: translateX(50%);
}

.vinyl-disk {
  @media (width < 500px) {
    width: 200px;
    height: 200px;
  }
}

.vinyl-disk-active {
  animation: rotationVinyl 3s linear infinite;
  animation-play-state: running;
}

.audio-container {
  display: flex;
  justify-content: center;
}

@keyframes rotationVinyl {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
