.main-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 25px;
  width: 100%;
}

/* Band Info */
.section-band-info-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 25px 190px;
}

.section-band-info-container > article {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section-band-info > h2 {
  font-size: 24px;
  font-weight: 800;
  display: inline;
}

.section-band-info p > strong {
  color: var(--primary-light);
  display: inline;
}

.section-band-info > blockquote {
  margin: 0;
}

/* Gallery Members */
.section-gallery-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-inline: 190px;
  justify-content: center;
  width: 100%;
}

.section-gallery {
  display: flex;
  gap: 15px;
  width: 100%;
}

.section-gallery-member {
  background-color: var(--neutral-900);
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  opacity: 0;
  height: 0;
  padding: 16px 10px;
  height: fit-content;
  width: 100%;
  transition: opacity 300ms ease-in-out;
}

.section-item-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 14px;
  display: flex;
  align-items: flex-end;
  height: 500px;
  width: 150px;
  transition: width 300ms ease-in-out;
  &:hover {
    width: 300px;
  }
}

.brad-delson {
  background-image: url("/assets/images/brad-delson.jpg");
  &:hover .gallery-member-brad-delson {
    opacity: 1;
  }
}

.colin-brittain {
  background-image: url("/assets/images/colin-brittain.jpg");
  &:hover .gallery-colin-brittain {
    opacity: 1;
  }
}

.dave-farrell {
  background-image: url("/assets/images/dave-farrell.jpg");
  &:hover .gallery-dave-farrell {
    opacity: 1;
  }
}

.emily-armstrong {
  background-image: url("/assets/images/emily-armstrong.webp");
  &:hover .gallery-emily-armstrong {
    opacity: 1;
  }
}

.joe-hahn {
  background-image: url("/assets/images/joe-hahn.webp");
  background-position: 75%;
  &:hover .gallery-joe-hahn {
    opacity: 1;
  }
}

.mike-shinoda {
  background-image: url("/assets/images/mike-shinoda.jpg");
  &:hover .gallery-mike-shinoda {
    opacity: 1;
  }
}

/* Section Ãlbum */
.section-album-container {
  display: flex;
  flex-wrap: wrap;
  padding-inline: 190px;
  gap: 55px;
  width: 100%;
}

.album-table-container {
  width: 450px;
}

.album-table {
  border-collapse: collapse;
  width: 450px;
}

.album-row-header {
  & > th {
    color: var(--neutral-300);
    font-size: 14px;
    font-weight: 400;
    padding: 8px 12px;
  }
}

.row-action {
  position: relative;
}

.managment-record {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 3px;
}

.album-row:hover .managment-record {
  display: block;
}

.album-row-index {
  font-size: 14px;
}

.album-row {
  & > td {
    font-size: 18px;
    font-weight: 600;
    padding: 8px 12px;
  }
  &:hover > td {
    background-color: #80808044;
  }
  &:hover > td > .album-row-index {
    visibility: hidden;
  }
}

.album-vinyl-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 380px;
}

.vinyl-container {
  position: relative;
}

.disk-vinyl {
  position: absolute;
  top: 0;
  left: 0;
}

.disk-vinyl-active {
  animation: rotateInfinite 3s linear infinite;
  animation-play-state: running;
}

.cover-vinyl {
  position: relative;
}

@keyframes rotateInfinite {
  from {
    transform: translateX(50%) rotate(0deg);
  }
  to {
    transform: translateX(50%) rotate(360deg);
  }
}
